body {
	background-size:cover;
	background-attachment: fixed;
	background-color: #fefefa;
    color: #28282a;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size:16px;
    font-size: min(16px,calc(14px + .25vw));
    font-weight: 400;
    line-height:144%;
    margin: 0;
	overflow-x:hidden;
    padding: 0;
	padding-top:0px;
	position: relative;
    word-wrap: break-word;
	/*float:left;*/
<<<<<<< HEAD
	overflow-x:hidden;
=======
	overflow-x: hidden;
>>>>>>> origin/master
}

p {
	margin-bottom: 8px;
	margin-top: 12px;
    margin-bottom: min(8px,calc(7px + .12vw));
	margin-top: min(12px,calc(10px + .25vw));
}

a {
    color:#14588a;
    text-decoration: none;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

a:hover{
    color:#48b0b6;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

h1{
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
    font-size: min(30px,calc(24px + .5vw));
	font-weight:400;
    margin:0px;
}

h2{
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    font-size: min(20px,calc(18px + .25vw));
	font-weight:400;
	margin-left:0px;
	margin-bottom: 8px;
    margin-bottom: min(8px,calc(7px + .12vw));
    margin-top: 20px;
    margin-top: min(20px,calc(18px + .25vw));
}

h3{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    font-size: min(16px,calc(14px + .25vw));
	font-weight:500;
	margin-bottom: 6px;
    margin-bottom: min(6px,calc(4px + .12vw));
    margin-bottom: 8px;
    margin-top: min(8px,calc(7px + .12vw));
}

th, td {
  padding-bottom: 0px;
  padding-right: 6px;
  padding-top: 0px;
  vertical-align: top;
  margin: 0px;
}

#bkg{
	background-size:cover;
	position:fixed;
	top:0vh;
	height:100vh;
	width:100vw;
	z-index:-999999;
}

#navbar{
	position:fixed;
    top:5vh;
    left:10vw;
	left: max(10vw,calc(50vw - 500px));
	width:80vw;
  	width: min(80vw,1000px);
    font-family:'Work Sans', sans-serif;
    font-size:20px;
    font-size:min(20px,calc(18px + .25vw));
    text-align:left;
    padding-top:0px;
    text-transform:lowercase;
    padding-top:0px;
    padding-bottom:1px;
    border-bottom:1px solid transparent;
	z-index:999999;
}

#navbar-ii{
	position:absolute;
    top:5vh;
    left:10vw;
	left: max(10vw,calc(50vw - 500px));
	width:80vw;
  	width: min(80vw,1000px);
    font-family:'Work Sans', sans-serif;
    font-size:20px;
    font-size:min(20px,calc(18px + .25vw));
    text-align:left;
    padding-top:0px;
    text-transform:lowercase;
    padding-top:0px;
    padding-bottom:1px;
    border-bottom:1px solid transparent;
	z-index:999999;
}

#navbkg{
	position:fixed;
	top:75vh;
	width:100vw;
	height:25vh;
	background:-moz-linear-gradient(top,  rgba(254,254,255,0) 0%, rgba(254,254,255,1) 95%);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,254,255,0)), color-stop(95%,rgba(254,254,255,1)));
    background:-webkit-linear-gradient(top,  rgba(254,254,255,0) 0%,rgba(254,254,255,1) 95%);
    background:-o-linear-gradient(top,  rgba(254,254,255,0) 0%,rgba(254,254,255,1) 95%);
    background:-ms-linear-gradient(top,  rgba(254,254,255,0) 0%, rbga(254,254,255,1) 95%);
    background:linear-gradient(to bottom,  rgba(254,254,255,0) 0%,rgba(254,254,255,1) 95%);
	z-index:9;
}

#fadebkg{
	position:fixed;
	top:0vh;
	width:100vw;
	height:15vh;
	background:-moz-linear-gradient(bottom,  rgba(254,254,249,0) 0%, rgba(254,254,249,1) 50%);
    background:-webkit-gradient(linear, left bottom, left top, color-stop(0%,rgba(254,254,249,0)), color-stop(50%,rgba(254,254,249,1)));
    background:-webkit-linear-gradient(bottom,  rgba(254,254,249,0) 0%,rgba(254,254,249,1) 50%);
    background:-o-linear-gradient(bottom,  rgba(254,254,249,0) 0%,rgba(254,254,249,1) 50%);
    background:-ms-linear-gradient(bottom,  rgba(254,254,249,0) 0%, rbga(254,254,249,1) 50%);
    background:linear-gradient(to top,  rgba(254,254,249,0) 0%,rgba(254,254,249,1) 50%);
	z-index:99999;
}

/*#social {
	position:absolute;
    top:4%;
	right:5%;
    height:20px;
    text-align:right;
    padding-top:0px;
    padding-bottom:1px;
    border-bottom:1px solid transparent;
	z-index: 9999999;
}*/

#pagehead{
	position:absolute;
	top: 15vh;
	width: 80vw;
  	width: min(80vw,1000px);
  	left: 10vw;
	left: max(10vw,calc(50vw - 500px));
	/*height: 10%;
	height: -webkit-fit-content;
	height: -moz-fit-content;*/
	z-index:999;
}

#content{
	position:absolute;
	top: 20vh;
	width: 80vw;
  	width: min(80vw,1000px);
  	left: 10vw;
	left: max(10vw,calc(50vw - 500px));
	/*height: 70%;
	height: -webkit-fit-content;
	height: -moz-fit-content;*/
	z-index:99;
}

#container{
	position:relative;
	height: 100vh;
	width: 100vw;
}

#expand {
    color:#14588a;
    text-decoration: none;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

#expand:hover{
    color:#48b0b6;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
	cursor:pointer
}

ul {
	list-style-type: square;
}

.scrollbar {
	margin-left: 0;
	float: right;
	height: 100vh;
	background: #fafafa;
	overflow-y: scroll;
}

.katex { 
	font-size: 1.0em; 
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
	background-color: #f2fafe;
	border-radius: 8px;
}

::-webkit-scrollbar {
	width: 8px;
	background-color: #fafafa;
}

::-webkit-scrollbar-thumb {
	border-radius: 18px;
	background-color: #14588a;
}

#screen{
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	position: fixed;
	background-color: #f0f0ea
	z-index: -9;
	opacity: 0;
	animation: fadeout 3.5s ease;
}

@keyframes fadeout {
    0% { opacity: 1; }
	25% { opacity: 0.97; }
	50% { opacity: 0.85; }
	75% { opacity: 0.6; }
    100% { opacity: 0; }
}